.App {
  text-align: center;
}

header {
  background-color: #282c34;
}

.navigation-menu {
  display: flex;
}

.navigation-menu.sticky {
  background-color: lightcoral;
  position: fixed;
  top: 0;
  width: 100%;
  animation-name: scrollFromTop;
  animation-duration: 1s;
}

.osmar-logo {
  flex: 30%;
  height: 5vw;
  margin-left: 3vw;
}

.link-servizi {
  flex: 70%;
  display: inherit;
  justify-content: flex-end;
  margin-top: 2vw;
  margin-right: 3vw;
  height: fit-content;
  color: white;
  scroll-behavior: smooth;
}

.link-servizi > div {
  margin-left: 2vw;
  transition: 0.4s;
  cursor: pointer;
}

.link-servizi > div:hover {
  color: red;
}

.hamburger-servizi {
  display: none;
}

.App-header {
  min-height: 100vh;
}

.App-body > div {
  min-height: 100vh;
}

.scroll-top-button {
  position: fixed; 
  bottom: 0px;
  right: 0px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.scroll-top-button.hidden {
  visibility: hidden;
  opacity: 0;
}

.scroll-top-button.visible {
  visibility: visible;
}

.arrow-icon {
  width: 3vw;
  height: 3vw;
  position: absolute;
  bottom: 4vh;
  right: 3vw;
}

.chi-siamo {
  background-color: seagreen;
}

.lavorazioni {
  background-color: skyblue;
}

.contatti {
  background-color: steelblue;
}

/* Mobile devices */
@media screen and (max-width: 600px) {
  .navigation-menu {
    height: fit-content;
    justify-content: space-between;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.4s;
  }

  .navigation-menu.opened {
    flex-wrap: wrap;
    background-color: lightcoral;
    padding-bottom: 7vw;
  }

  .osmar-logo {
    flex: 80%;
    margin-left: 5vw;
    align-self: center;
    max-width: 35vw;
  }

  .link-servizi {
    display: none;
  }

  .navigation-menu.opened > .link-servizi {
    display: block;
    margin: 0;
    margin-top: 3vw;
  }

  .link-servizi > div + div {
    margin-top: 5vw;
  }

  .hamburger-servizi {
    display: flex;
    align-self: center;
  }

  .hamburger {
    height: 18vw;
    width: 18vw;
  }

  .arrow-icon {
    width: 8vw;
    height: 8vw;
    right: 5vw;
  }
}

/* Only desktops or tablets */
@media screen and (min-width: 600px) {
  .scroll-top-button:hover {
    opacity: 0.5;
  }
}

@-webkit-keyframes scrollFromTop {
  from {
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
    visibility:visible
  }
  to {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
  }
}

@keyframes scrollFromTop {
  from {
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
    visibility:visible
  }
  to {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
  }
}


